html, body {
    background-color: #FFF;
    position: relative;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    color: #FFF;
    padding: 0px;
    margin: 0px;
} 

p {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    text-align: center;
}

#center {
    text-align: center;
}

.clickable{
    cursor: pointer;
}

input[type="submit"], input[type="button"], select{
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
}

#topBar{
    text-align: center;
    background-color: #242;
    padding: 2%;
}

#settingsBar{
    text-align: center;
    background-color: #89c489;
	padding: 1%;
}

/*Used for hovering buttons on top left*/
#topLeft{
	position: absolute;
    top: 10px;
    left: 20px;
}


/*Stuff for tables*/
table, th, td {
    border-collapse: collapse;
    border: 1px solid #969696;
    padding: 5px;
    text-align: center;
    /*Centralise*/
    margin-left: auto;
    margin-right: auto;
}

th {
    background: #BBB;
}

tr:hover {
    background: #EEE;
}